/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E7E7E7;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0px 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title-img-box {
    background: url(../images/main-logo.png);
    width: 570px;
    height: 640px;
    border-radius: 20px;
    padding-top: 55px;
}

.box-style {
    width: 570px;
    height: 640px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 12px;
    padding-left: 60px;
    padding-top: 55px;
    padding-bottom: 40px;
    padding-right: 60px;
}

.top-btn {
    margin-bottom: 60px;
}

.input-username{
    width: 100%;
    margin-bottom: 4px;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom:1px solid #555;
    outline: none;
}

.input-username::placeholder{
    font-weight: 400;
    color: #555;
}

.input-username:focus{
    border-color: #000;
}

.invalid-text{
    display: none;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #f03535;
}

.input-username:not(:placeholder-shown):not(:focus):invalid{
    color: #f03535;
    border-bottom-color: #f03535;
}

.input-username:not(:placeholder-shown):not(:focus):invalid + span{
    display: block;
}


.invalid-text{
    padding-top: 10px;
    display: none;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #f03535;
}

.front {
    margin-top: 55px;
    width: 178px;
    height: 27px;
    opacity: 0.8;
    border-radius: 41px;
    border: 1px solid #fff;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
    margin-bottom: 60px;
}

.main-description {
    margin-left: 60px;
}

.main-description h1 {
    width: 389px;
    height: 138px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.main-description p {
    width: 347px;
    height: 52px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.main-bottom {
    margin-top: 213px;
    width: 570px;
    height: 80px;
    background: #4DC490;
    border-radius: 0px 0px 20px 20px;
    padding-top: 29px;
    padding-bottom: 28px;
    padding-left: 144px;
    padding-right: 145px;
}

.days {
    padding-top: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.btn {
    padding: 20px 149px;
    gap: 10px;
    width: 450px;
    height: 59px;
    background: #655AF2;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
}

.style-header {
    width: 428px;
    height: 84px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin-right: 82px;
    margin-bottom: 20px;
}

.box-form {
    padding-bottom: 11px;
}

input {
    width: 450px;
    border: none;
    border-bottom: 1px solid #555555;
    outline: none;
    padding: 11px 0;
}

input:focus {
    border-color: #000;
}

.main-paragrph {
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #BAB7D4;
    margin-top: 8px;
}

.main-span {
    font-weight: 700;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #FF7979;
}